.border {
  box-sizing: border-box;
  border-bottom: 2px solid rgb(219, 219, 219);
}

.border-left {
  box-sizing: border-box;
  border-left: 2px solid rgb(219, 219, 219);
}

.border-right {
  box-sizing: border-box;
  border-right: 2px solid rgb(219, 219, 219);
}

.etchify {
  box-sizing: border-box;
  position: absolute !important;
  border-radius: 0 !important;
  width: 40% !important;
  top: 0;
  border-left: 2px solid rgb(219, 219, 219);
  border-bottom: 2px solid rgb(219, 219, 219);
}